/* Gradient Div Css */
.gradient{
height: 7px;
width: 100%;    
background: -moz-linear-gradient(45deg, rgba(0,125,240,1) 0%, rgba(0,228,240,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,125,240,1)), color-stop(100%, rgba(0,228,240,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(0,125,240,1) 0%, rgba(0,228,240,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(0,125,240,1) 0%, rgba(0,228,240,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(0,125,240,1) 0%, rgba(0,228,240,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(0,125,240,1) 0%, rgba(0,228,240,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4f0', endColorstr='#007df0',GradientType=1 ); /* ie6-9 */
}

/* Gradient Div Css Ends*/

/* Navbar Area */
.navbar{
    background: white;
}
.nav-link{
    left: 10px;
}
/* Navbar Area Ends*/
.carousel-item{
    /* opacity: 0.5; */
}

/*Text Inside the banner*/
.first-tag{
    position: absolute;
    top: 350px;
    left: 518px;
    color: whitesmoke;

}
.p-tag{
    position: absolute;
    top: 400px;
    left: 405px;
    color: whitesmoke;
    font-family: inherit;
    font-weight: lighter;
    font-size: 26px;
    text-align: center;

}

#button-main{

    position: absolute;
    width: 194px;
    height: 42px;
    top: 450px;
    left: 605px;
    background-color: #0493d7;
    border-color: #0493d7;
    color: aliceblue;  
    font-weight: lighter;
    letter-spacing: 1px;
  
}

/*Text Inside the banner*/


/*Company Experience Css */
.boundry-div{
    padding-top: 15px;
    padding-left: 15px;
    width: 500px;
    height: 500px;
    border: 9px solid black;
    border-radius: 5px;
}

.inside-img{
    left: 10px;
    height:350px; 
    width:400px;
}

.abt-us{
    
    font-family: "lato";
    font-weight: 700;
    z-index: 5;
    
}
.exp{
    font-family: "lato";
    font-weight: 400;
}

.para-ins{
    font-family: "lato";
    color: grey;
}

#serv-div1{
    top: 72px;
}
#serv-about{
    top: 72px;
}

#learn-btn{
    border-color: #464646;
    font-family: "Raleway";
    width: 134px;
    height: 40px;
}
/*Company Experience Css */

/*Our Services*/
#our-serv{
    top: 100px;
    text-align: center;
    margin-bottom: 78px;
    margin-top: 46px;
    color: #232323;
    font-family: "Raleway";
 
}


/*Our Services*/


/*Card Section Css Begin */
h3{
    
    font-family: "Raleway";
    font-variant: all-petite-caps;
}
span{
    font-family: "raleway";
    color: #232323;
}

.box{
   padding:60px 0px;

}

.box-part{
   background:#FFF;
   border: 2px solid #e6e7e8;
   padding:60px 10px;
   margin:30px 0px;
   max-height: 348px;
   min-height: 348px;
   overflow: auto;
  
   display: block;
}

.box-part:hover{
   background:#0493d7;
}

.box-part:hover .img-1,
.box-part:hover .title , 
.box-part:hover span ,
.box-part:hover a{
   color:#FFF;
   -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   transition: all 1s ease-out;
}

.text{
   margin:20px 0px;
}



/*Card Section Css Ends */


/*Latest Project Css begin*/

#latest-pro-head{
    text-align: center;
    font-family: "raleway";
    padding-bottom: 170px;
}

#banner-mac{
  
    width: 100%;
    background-color: #f1f2f2;
}
#mac-logo{
    margin-top: -130px;
}


/*Latest Project Css Ends*/

/*Slider Css Begin*/

#slider-div{
    background-color: #0493d7;
   
}

#img-slide{
    margin-right: 90px;
}

.customer-logos-slider{
    display: flex;
    height: 120px;
    margin-top: 26px;
    padding-top: 33px;
    padding-bottom: 21px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*Slider Css Ends*/

/*Stay In touch Begin*/
#touch-div{
  background-color: #f8f8f8;
  min-height: 221px;
  text-align: center;
  font-family: "Raleway";
  font-size: 15px;
  color: #777777;

}

#touch-text{
    padding-top: 28px;
}

#let-talk{
    color: #63afe4;
    text-decoration: none;
}

/*Stay In touch Ends*/


/* Form area Css Begin*/

#form-background{
   
    background-color: #121212;
    min-height: 300px;

}
#form-div{
    margin-top: 32px;
    font-family: "Raleway";
}
#form{
    background-color: #ffffff;
    margin-top: -80px;
    margin-left: 111px;
}
#send-message{
    margin-left: 762px;
    margin-bottom: 23px;
}
#send-message{
    border-radius: 25px;
}

/* Form area Css Ends*/



/*Horizontal Bar begin*/
.hor-bar{
    background-color: #273c56 ;
    min-height: 2px;
}

/*Horizontal Bar Ends*/


/*Footer Begin*/
.footer{
    background-color: #121212;
    color: #FFFFFF;
    font-family: "Raleway";
}

.text-center{
    padding-bottom: 20px;
    text-align: center!important;
    padding-top: 28px;
   
}

/*Footer Ends*/